---
import { Image } from 'astro:assets';
import mapScreen from '../assets/map-screen.webp';
---

<div style="width: 400px; height: 600px;">
  <Image
    src={mapScreen}
    alt="Settlers game map interface"
    width={800}
    height={1200}
    style="width: 100%; height: 100%; object-fit: contain;"
  />
</div> 